<div class="flexformcenter">
    <div class="mainformwrapper">
        <form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">
            <div>
                <label for="year">
                    Year
                </label>
                <select id="year" name="year" formControlName="year">
                    <option *ngFor="let year of years"
                    [value]="year">{{year}}</option>
                  </select>
            </div>
            <div>
                <label for="sales">
                    Sales
                </label>
                <input id="sales" type="number" formControlName="sales">
            </div>
            <div>
                <label for="Expenses">
                    Expenses
                </label>
                <input id="expenses" type="number" formControlName="expenses">
            </div>
            <div>
                <button class="button" type="submit">Save</button>
            </div>
        </form>
    </div>
</div>